@use '../../styles/base';

.scorePanel {
    width: 25.6vw;
    height: 17vw;

    max-width: 140px;
    max-height: 72px;
    
    min-width: 92px;
    min-height: 64px;

    display: flex;

    flex-flow: row wrap;

    height: 4rem;

    border-radius: 10px;

    padding: 0.75rem;

    text-align: center;

    color: base.$color5;
}

.X {
    background-color: base.$color1;
}

.ties {
    background-color: base.$color7;
}

.O {
    background-color: base.$color3;
}

.title {
    font-size: 0.75rem;
    font-weight: 500;

    width: 100%;
}

.score {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.575rem;

    width: 100%;
}